extends layout

block navigation
  if user
    li
      a(href='/new-message' class='navLink') new message 
    li
      a(href='/new-member' class='navLink') member
    li
      a(href='/admin' class='navLink') admin
    li
      a(href='/logout' class='navLink') logout
  else
    li
      a(href='/sign-up' class='navLink') signup
    li 
      a(href='/login' class='navLink') login

block content 
  h1(class='title') *very* secret messages
  if user.membership
    each message in messages
      div(class='wrapper')
        section(class='card')
          div(class='info')
            h2 #{message.title}
            p #{message.message} 
            p 
              strong by #{message.user.username} on #{message.date}
            if user.admin
              form(method='POST', action=`/delete-message/${message.id}`)
                input(type='hidden' name='deleteMessage' value=message.id)
                button(type='submit' class='delete') delete
    else 
      p no messages, add some!
    
  else
    each message in messages
      div(class='wrapper')
        section(class='card')
          div(class='info')
            h2 #{message.title}
            p #{message.message} 
            p 
              strong by *********
    else 
      p no messages

  
