extends layout

block content

    div(class='container')
        form(class='inputForm' method='POST', action='')
            h3 signup
            fieldset
                label(for='firstName') first name:
                input(name='firstName' type='text' required=true placeholder='first name' value=(underfined===user ? '': user.firstName))
            fieldset
                label(for='lastName') last name:
                input(name='lastName' type='text' required=true placeholder='last name' value=(underfined===user ? '': user.lastName))
            fieldset 
                label(for='username') username:
                input(name='username' type='text' required=true placeholder='username' value=(underfined===user ? '': user.username))
            fieldset   
                label(for='password') password:
                input(name='password' type='text' placeholder='password' required=true)
            fieldset   
                label(for='password') confirm password:
                input(name='confirmPassword' type='text' required=true placeholder='confirm password')
                button(type='submit') submit

        if errors 
            ul
                for error in errors
                    li!= error.msg